.cart-container {
    margin-top: 20px;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 3.8em;
    padding-right: 7.6em;
  }

  .cart-item .card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid red;
    width: 50%;
    height: 100%;
  }

  
  .cart-item h3 {
    text-align: center;
    margin: 0;
    font-size: 1.4em;
  }
  
  .cart-item p {
    margin: 5px 0;
    font-size: 16px;
  }

  .cart-item p:last-of-type {
    font-weight: bold;
  }
  
  .cart-container p {
    font-size: 18px;
    color: #666;
    text-align: center;
  }